.button{
    display: inline-block;
    padding: 0.625em 1.25em;
    text-align: center;
    border-radius: 5px;
    color:white;
    font: var(--font-family-sans-serif);
    font-weight: var(--font-weight-bold);
    line-height: 28px;
    border: 2px;
    text-decoration: none;
    
}

.button.default{
    background-color: var(--main-color-blue);
    border: 2px solid var(--main-color-blue);
}

.button.default:hover{
    background-color: #70CFFF;
    border: 2px solid #38B6FF;
}

.button.primary{
    background-color: var(--main-color-purple);
    border: 2px solid var(--main-color-purple);
}

.button.primary:hover{
    background-color: #B07CFF;
    border: 2px solid #8C52FF;
}

.button.secondary{
    background-color: white;
    border: 1px solid #08121F;
    color: #08121F;
}

.button.secondary:hover{
    border: 2px solid #08121F;
}

.button.white{
    background-color: white;
    color:#08121F;
    border: 2px solid white;
    font-size: var(--font-size-body-1);
}

.button.white:hover{
    border: 2px solid #08121F;
}

.dash{
    width: 50px !important;
    height: 50px !important;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center; /* Add this line */
    border: none;
}

.button.dash img {
    width: 120%;
    height: 120%;
    object-fit:cover; /* Try this instead of cover */
    border-radius: 50%;
    justify-items: center;
    margin-top: 8px;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
  }

.user{
    background-color: #F29200;
   border-color: none;
}

.button.primary-outline{
    color: #B07CFF;
    background-color: white;
    border: 2px solid #B07CFF !important;
}

.button.primary-outline:hover{
    color: white;
    background-color: #B07CFF;
}
