/*  General */
.dashboard-container {
    height: 100%;
}

.sidebar-top, .sidebar-menu, .sidebar-options {
    width: 80%;
}

.sidebar-top {
    height: 20%;
}

.sidebar-menu {
    height: 50%;
}

.sidebar-options {
    height: 20%;
}

/*  Images & Icons  */
.sidebar-top-logo {
    width: 120px;
}

.sidebar-menu-icon, .sidebar-options-icon {
    padding-right: 5%;
}

.sidebar-menu-row:hover, .sidebar-options-row:hover {
    cursor: pointer;
}

.nav-link.active {
    color: #8c52ff;
}

.hover-logout:hover {
    color: #8c52ff;
}

.offcanvas-small {
width: 100%;
}

.sidebar-bg1{
    position: absolute;
    top: 95%;
    left: 50%;
    width: 100%;
    height: 175%;
    background-image: url('../../assets/assets-svg/4.svg'); 
    background-size: 90% auto;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: translate(-10%, -10%) rotate(0deg);
    z-index: -1; 
}

.sidebar-bg2{
    position: absolute;
    top: 97%;
    left: 25%;
    width: 70%;
    height: 175%;
    background-image: url('../../assets/assets-svg/5.svg'); 
    background-size: 90% auto;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: translate(-10%, -10%) rotate(0deg);
    z-index: -1; 
}

/*  Media queries  */

@media (max-width: 992px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .offcanvas-small {
      width: 80% !important;
    }
}

@media (max-width: 992px) {
    .offcanvas-large {
      background: linear-gradient(to bottom, #E8E2E2, #B07CFF);
    }
}
