.container-proyect-card{
    background-color: var(--color-white);
    border-radius: 15px;
}

.ri-outlineheart, .ri-bookmark{
    color: var(--main-color-purple);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.container-ri{
    align-items:end;
}

.container-item{
    height: 48px;
}

@media (width<768px){
    .category-container{
        flex-direction: column;
    }
    .hability-container{
        flex-direction: column;
    }
    .hability-group{
        flex-wrap: wrap;
    }
    .hability-group p{
        margin-bottom: 0px;
    }
}

@media (width<576px){

    .w-sm-100{
        width: 100% !important;
    }
}