/* Global Styles */

/**************************************/
/* NO ESTA TERMINADO... VER CON UX/UI */
/**************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    /* background */
    --bg-color: linear-gradient(
        180deg,
        hsl(0deg 0% 100%) 0%,
        hsl(256deg 100% 98%) 21%,
        hsl(255deg 100% 97%) 30%,
        hsl(255deg 100% 95%) 39%,
        hsl(254deg 100% 94%) 46%,
        hsl(254deg 100% 92%) 54%,
        hsl(253deg 100% 91%) 61%,
        hsl(253deg 100% 89%) 69%,
        hsl(253deg 100% 88%) 79%,
        hsl(252deg 100% 86%) 100%
    );
    


     /* colors */
    --main-color-purple: #8c52ff;
    --main-color-blue: #38b6ff;
    --main-color-light-grey: #E8E2E2;
    --main-color-black: #08121F;

    --main-color-purple_hover: #B07CFF;
    --main-color-blue-hover: #70CFFF;

    --color-white: #ffffff;
    --color-black: #000000;

    --secondary-color-error: #DC2626;
    --secondary-color-success: #16A34A;
    --secondary-color-label: #4B5563;

    /* font */
    --font-family-sans-serif: "Lato";
    --font-weight-regular: 400; 
    --font-weight-bold: 700;

    /* font size */
    --font-size-headline-1: 3.875em;
    --font-size-headline-2: 3rem;
    --font-size-headline-3: 2.125rem;

    --font-size-subt: 1.8rem;

    --font-size-body-1: 1.1rem;
    --font-size-body-2: 1rem;

    /* font size responsive */
    --font-size-res-headline-1: 40px;
    --font-size-res-headline-2: 54px;
    --font-size-res-headline-3: 20px;

    --font-size-res-subt: 32x;

    --font-size-res-body-1: 28px;
    --font-size-res-body-2: 24px; 

    /* regular:
    font-family: "Lato", sans-serif;   
    font-weight: 400;  
    font-style: normal; 

    bold:
    font-family: "Lato", sans-serif;   
    font-weight: 700;  
    font-style: normal;  */

    /* spacing*/
    --space-padding-s: 0.5rem;
    --space-padding-m: 1rem;
    --space-padding-l: 1.5rem;
    --space-padding-xl: 2rem;

    --space-margin-s: 0.5rem;
    --space-margin-m: 1rem;
    --space-margin-l: 1.5rem;
    --space-margin-xl: 2rem;
}

html, body{
    font-family: var(--font-family-sans-serif);
    background: var(--bg-color) no-repeat center center fixed;
}





